DATABASE_URL=postgresql://postgres:password@localhost:5432/umltool
NODE_ENV=development
OPENAI_API_KEY=sk-proj-your-openai-api-key-here

GOOGLE_API_KEY=your-google-api-key-here
GEMINI_API_KEY=your-gemini-api-key-here

GEMINI_MODEL=gemini-2.5-flash
# GEMINI_API_VERSION=v1beta
# GEMINI_API_URL=https://generativelanguage.googleapis.com/v1beta/models
# VITE_API_URL=http://localhost:3001